--
-- PostgreSQL database dump
--

\restrict rt7MS5wowI3ZS4vSPIGGoOglsy7WMPzx0A4dPenpZIgK0HHhNdXMxLJVL89A3ZM

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO postgres;

--
-- Name: executions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.executions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    script_id uuid NOT NULL,
    status character varying(50) DEFAULT 'Pending'::character varying NOT NULL,
    input_data jsonb NOT NULL,
    output_data jsonb,
    error_message text,
    started_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    completed_at timestamp with time zone,
    execution_time_ms integer
);


ALTER TABLE public.executions OWNER TO postgres;

--
-- Name: scripts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.scripts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    content text NOT NULL,
    description text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.scripts OWNER TO postgres;

--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
20250819120000_InitialCreate	8.0.0
\.


--
-- Data for Name: executions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: scripts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: executions PK_executions; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.executions
    ADD CONSTRAINT "PK_executions" PRIMARY KEY (id);


--
-- Name: scripts PK_scripts; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scripts
    ADD CONSTRAINT "PK_scripts" PRIMARY KEY (id);


--
-- Name: IX_executions_script_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_executions_script_id" ON public.executions USING btree (script_id);


--
-- Name: executions FK_executions_scripts_script_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.executions
    ADD CONSTRAINT "FK_executions_scripts_script_id" FOREIGN KEY (script_id) REFERENCES public.scripts(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict rt7MS5wowI3ZS4vSPIGGoOglsy7WMPzx0A4dPenpZIgK0HHhNdXMxLJVL89A3ZM

